
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&family=Space+Mono:wght@400;700&display=swap');

canvas {
  position: fixed;
  top: 0;
  left: 0;
}

:root {
  --dark-bg: rgba(15, 15, 15, 0.95);
  --black: rgba(0, 0, 0, 1);
  --white: rgba(255, 255, 255, 1);
  --spacing: 24rem;
  --orbitron: 'Orbitron', sans-serif;
  --spaceMono: 'Space Mono', monospace;

  font-weight: 400;
  font-style: normal;
}

main {
  width: 100vw;
  color: var(--white);
  z-index: 99;
  position: absolute;
  width: 100%;
  margin: 0 auto;
  padding: 6rem 0;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

h1, h2, h3, blockquote {
  font-family: var(--orbitron);
  font-weight: 700;
  font-style: normal;
}

header {
  background: var(--dark-bg);
  margin-bottom: var(--spacing);
}

h1 {
  margin-top: 0.5rem;
}

section {
  color: var(--white);
  padding: 1rem 1rem 2.5rem 1rem;
  background: var(--dark-bg);
  font-size: 1.25rem;
  line-height: 1.5;
  margin-bottom: var(--spacing);
}

blockquote {
  margin: 0;
  padding: 0;
  margin-bottom: var(--spacing);
  text-align: center;
}

blockquote p {
  color: var(--black);
  background-color: var(--white);
  display: inline;
  line-height: 1.5;
  font-family: var(--spaceMono);
}

p {
  display: inline;
  font-family: var(--spaceMono);
}

.last {
  margin-bottom: 100vh;
}

.first {
  margin-top: 100vh;
}


/* ************************************************************ Media Queries *****/

/* Extra small devices (phones, 400px and down) */
@media only screen and (max-width: 400px) {
  h1 {
    font-size:1.3rem;
  }

  header p {
    font-size: 0.8rem;
  }

  header {
    padding:1rem;
    grid-column: 3/11;
  }

  section,
  blockquote,
  .left {
    grid-column: 2/12;
  }

  blockquote p {
    font-size:0.9rem;
  }

  p {
    font-size:0.6rem;
  }

  h2 {
    font-size:1rem;
  }
}


/* Extra small devices (phones, 600px and up) */
@media only screen and (min-width: 400px) {
  h1 {
    font-size:1.5rem;
  }

  header p {
    font-size: 0.8rem;
  }

  header {
    padding:1rem;
    grid-column: 4/10;
  }

  section,
  blockquote,
  .left {
    grid-column: 2/12;
  }

  blockquote p {
    font-size:1.1rem;
  }

  p {
    font-size:0.6rem;
  }

  h2 {
    font-size:1.3rem;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  h1 {
    font-size:1.6rem;
  }

  header p {
    font-size: 0.7rem;
  }

  header {
    grid-column: 8 / 12;
  }

  section {
    grid-column: 2 / 8;
  }

  blockquote {
    grid-column: 3 / span 8;
  }

  .left {
    grid-column: 6 / 12;
  }

  blockquote p {
    font-size:1.3rem;
  }

  p {
    font-size:0.7rem;
  }

  h2 {
    font-size:1.5rem;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  h1 {
    font-size:1.9rem;
  }

  header p {
    font-size: 0.9rem;
  }

  blockquote p {
    font-size:1.5rem;
  }

  p {
    font-size:0.9rem;
  }

  h2 {
    font-size:1.7rem;
  }

  header {
    padding:1.5rem;
  }

  section {
    padding: 1rem 1.5rem 2.5rem 1.5rem;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  h1 {
    font-size:2.5rem;
  }

  header p {
    font-size: 1.1rem;
  }

  blockquote p {
    font-size:1.7rem;
  }

  p {
    font-size:0.9rem;
  }

  h2 {
    font-size:1.9rem;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  h1 {
    font-size:3rem;
  }

  header p {
    font-size: 1.3rem;
  }

  blockquote p {
    font-size:1.8rem;
  }

  p {
    font-size:0.9rem;
  }

  h2 {
    font-size:2rem;
  }
}

/* Extra large devices (large laptops and desktops, 1400px and up) */
@media only screen and (min-width: 1400px) {
  h1 {
    font-size:3.5rem;
  }

  header p {
    font-size: 1.5rem;
  }
}
